*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.container{
    margin: 40px 90px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    background-color: white;
    position: fixed;
    width: 100%;
    margin: 0 0;
    top: 0;
    z-index: 11111;

}
header .container ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .container ul li{
    list-style-type: none;
}
header .container .header-navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .container .header-navbar ul a{
    text-decoration: none;
    padding: 0px 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
}
header .container .header-logo a{
    color: #0061f2;
    text-decoration: none;    
    font-size: 20px;
    font-weight: 700;
}
header .container .header-navbar ul a i{
    font-size: 10px;
}
header .container .header-navbar>a{
    text-decoration: none;
    color: white;
    background-color: #0061f2;
    padding: 10px 18px;
    border-radius: 5px;
    margin: 0 30px
}
header .container .header-navbar>a i{
    font-size: 11px;
    padding-left: 8px;
    padding-bottom: 5px;
}
main{
    margin-top: 90px;
}

#top-page .container .all-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#top-page .container .all-page div{
    width: 50%;
    padding: 26px 30px;
}
#top-page .container .all-page .top-page-title h1{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
    margin-bottom: 0.5rem;
}
#top-page .container .all-page .top-page-title p{
    font-size: 1.15rem;
    color: #69707a;
    margin-bottom: 2.5rem !important;
}
#top-page .container .all-page .top-page-title .btn1{
    text-decoration: none;
    color: white;
    background-color: #0061f2;
    padding: 15px 35px;
    border-radius: 7px;
    margin-right: 10px
}
#top-page .container .all-page .top-page-title .btn2{
    text-decoration: none;
    color: #0061f2;
    background-color: #0061f2;
    padding: 15px 35px;
    border-radius: 7px;
    transition: .4s ;
}
#top-page .container .all-page .top-page-title .btn2:hover{
    background-color: #e1ecfc;
}
#product-page,#product-page2{
    background-color: #f2f6fc;
       padding: 40px 0;
}
.product-title p{
    padding: 0.5em 1em;
    border-radius: 50rem;
    background-color: #dae7fb;
    display: inline-block;
    font-size: 13px;
    color: #0061f2;
    margin-bottom: 10px;
}
 .product-title h2{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
    margin-bottom: 10px;
}
 .product-title{
    width: 60%;
    text-align: center;
    margin: 40px auto;
}
 .product-title span{
    font-size: 1.1rem;
    font-weight: 400;
    color: #69707a;
    margin-bottom: 10px;
}
#product-page .container .al-products,#product-page2 .container .al-products{
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
}
#product-page .container .al-products .product-box,#product-page2 .container .al-products .product-box{
width: 30%;
text-align: center;
margin-bottom: 40px;
cursor: pointer;
}
#product-page .container .al-products .product-box h6,#product-page2 .container .al-products .product-box h6{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
    margin-bottom: 15px;
}
#product-page .container .al-products .product-box img,#product-page2 .container .al-products .product-box img{
width: 100%;
border-radius: 10px;
box-shadow: 12px 6px 45px -27px rgba(0,0,0,0.75);
-webkit-box-shadow: 12px 6px 45px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 6px 45px -27px rgba(0,0,0,0.75);
transition: .2s;
}
#product-page .container .al-products .product-box img:hover,#product-page2 .container .al-products .product-box img:hover{
    box-shadow: 12px 6px 45px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 12px 6px 45px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 6px 45px -10px rgba(0,0,0,0.75);
transform:translate(0,-3px);
}
#inner-page .container .menu-bars{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#inner-page .container .menu-bars .menu{
width: 30%;
}
#inner-page .container .menu-bars .menu h6{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
    margin-bottom: 20px;
}

#inner-page .container .menu-bars a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #d5d1d1 ;
    padding: 15px;
    transition: .2s;
    position: relative;
    font-size: 14px;
}
#inner-page .container .menu-bars .menu .menu-box{
    border: 1px solid #d5d1d1;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 12px 6px 45px -27px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 6px 45px -27px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 6px 45px -27px rgba(0,0,0,0.75);
}
#inner-page .container .menu-bars a:hover{
background-color: #f2f6fc;
}
#inner-page .container .menu-bars .menu .menu-box a i{
    font-size: 11px;
    padding-left: 8px;
    padding-bottom: 5px;
    position: absolute;
    right: 10px;
    top: 18px;
    color: #c5ccd6;
}

#end-page .all-end-pages .end-all-box{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
}
#end-page .all-end-pages .end-all-box .box{
width: 30%;
text-align: center;
}
#end-page .all-end-pages .end-all-box .box h1{
    font-weight: 700;
    color: #c5ccd6;
    font-size: 5rem;
    margin-bottom: 20px;
}
#end-page .all-end-pages .end-all-box .box h5{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #363d47;
}
#end-page .all-end-pages .end-all-box .box p{
margin-bottom: 70px;
}
#end-page .all-end-pages .end-box-btn a{
    text-decoration: none;
    color: white;
    background-color: #0061f2;
    padding: 15px 35px;
    border-radius: 7px;
    margin: auto;
}
#end-page .all-end-pages .end-box-btn{
    text-align: center;
}
footer{
    background-color: #f2f6fc;
    padding: 20px 0;
}
footer .footer-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
footer .footer-menu .menu1 p{
color: #a7aeb8;
margin-bottom: 15px;
}
footer .footer-menu .menu1 .menu1-icons i{
    color: #a7aeb8;
    font-size: 20px;
    padding-right: 10px;
}
footer .footer-menu .menu2 a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color:#a7aeb8 ;
    font-size: 0.875rem;
}
footer .footer-menu .menu2 a:hover{
    text-decoration:underline;
}
footer .footer-menu .menu2 h4{
    color:#a7aeb8 ;
    margin-bottom: 20px;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.125em;
}
footer .footer-menu .menu1 a{
    color: #a7aeb8;
    text-decoration: none;    
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}
footer hr{
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    padding-bottom: 50px;
}
footer .copyright{
    display: flex;
    justify-content: space-between;
}
footer .copyright .left-text p{
    color: #a7aeb8;
    font-size: 0.875em;
}
footer .copyright .right-text p{
    color: #a7aeb8;
        font-size: 0.875em;
}
footer .copyright .right-text p a{
    color: #a7aeb8;
    text-decoration: none;
}

.gear-menu{
    position: fixed;
    display: flex;
    right: -301px;
}
.gear-menu .gear-icon{
text-align: center;
border: 1px solid gray;
width: 40px;
height: 40px;
background-color: white;
border-radius: 5px 0px 0px 5px;
}
.gear-menu .gear-icon i{
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    animation: gear 2s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes gear {
    0%{
        transform: rotate(0deg);
    }
    100%{transform: rotate(360deg);}
}
.gear-menu:active{
    transform:translate(-300px,0px);
}
 .gear-menu:active .gear-box{
    visibility: visible;
    }
.gear-menu .gear-box{
    width: 300px;
    height: 500px;
    border: 1px solid gray;
    background-color: white;
    visibility: hidden;
}
.gear-box a{
    display: block;
}
.Default{
    padding: 14px 13px;
    margin: 14px 33px;
    background-color: teal;
    border-radius: 10px;
    color: white;
    text-decoration: none;

}
.Flat{
    padding: 14px 13px;
    margin: 14px 33px;
    background-color: rgb(129, 217, 22);
    border-radius: 10px;
    color: white;
    text-decoration: none;

}
.Sunset{
    padding: 14px 13px;
    margin: 14px 33px;
    background-color: rgb(190, 16, 229);
    border-radius: 10px;
    color: white;
    text-decoration: none;

}
.Subtle{
    padding: 14px 13px;
    margin: 14px 33px;
    background-color: rgb(43, 226, 214);
    border-radius: 10px;
    color: white;
    text-decoration: none;

}